@model Inventory_database.ViewModels.RegisterViewModel

@{
    Layout = "_FormLayout";
    ViewData["Title"] = "Регистрация";
}

<form asp-action="Register" asp-antiforgery="true">
    <input type="hidden" asp-for="Code" name="Code" />
    <div class="form-group">
        <label asp-for="Login" class="control-label">Логин</label>
        <input asp-for="Login" name="Login" class="form-control" />
        <span asp-validation-for="Login" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label">Пароль</label>
        <input asp-for="Password" type="password" name="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="control-label">Пароль</label>
        <input asp-for="ConfirmPassword" type="password" name="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input type="submit" value="Зарегистрироваться" class="btn btn-primary" />
    </div>
</form>