@model Inventory_database.ViewModels.AdministrationViewModel

@{
    Layout = "_SettingsLayout";
    ViewData["Title"] = "Администрирование";
}
<p class="text-black p-0">Генерация ссылок для регистрации аккаунта</p>
<form class="d-inline-block mb-5 mt-0" asp-controller="Auth" asp-action="GetRegistrationLink" method="post" asp-antiforgery="true">
    <label>Количество ссылок</label>
    <input type="number" name="count" value="0" />
    <input type="submit" value="Получить" />
</form>
<p class="text-black p-0">Список пользователей</p>
<div class="d-flex flex-row">
    @foreach (var user in Model.Users)
    {
        @await Html.PartialAsync("_ViewUser", user)
    }
</div>
<p>
    @if (Model.Page.CurrentPage > 1)
    {
        <a asp-action="Index" asp-route-page="@(Model.Page.CurrentPage - 1)" class="btn btn-info">⮜</a>
    }
    @Model.Page.CurrentPage из @Model.Page.TotalPages
    @if (Model.Page.CurrentPage < Model.Page.TotalPages)
    {
        <a asp-action="Index" asp-route-page="@(Model.Page.CurrentPage + 1)" class="btn btn-info">⮞</a>
    }
</p>
