@model Inventory_database.Models.ItemType

<div class="card card-body ml-lg-3 mr-lg-3 mb-4">
    <h4 class="card-header">@Model.Name</h4>
    <ul>
        <li class="text-black-50 text-left">Описание - @Model.Description</li>
    </ul>
    <div class="navbar justify-content-end">
        <a class="btn btn-link w-auto m-1" asp-action="Edit" asp-route-typeId="@Model.Id">Изменить</a>
        <a class="btn btn-danger w-auto m-1" asp-action="Delete" asp-route-typeId="@Model.Id">Удалить</a>
    </div>
</div>