<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="navbar">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="#">Инвентарь</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Помещения</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Типы</a>
            </li>
        </ul>
        <ul class="nav">
            <li class="nav-item">
                <username></username>
            </li>
        </ul>
    </div>
    @RenderBody()

    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
</body>
</html>
