<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header>
        <div class="navbar border-bottom mb-3">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Items">Инвентарь</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Rooms">Помещения</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Types">Категории</a>
                </li>
            </ul>
            <ul class="nav">
                <li class="nav-item">
                    <username></username>
                </li>
            </ul>
        </div>
    </header>
    <div class="container align-items-center text-center">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer text-muted">
        <nav role="navigation" class="navbar fixed-bottom border-top">
            <div class="container">
                Кумачев Антон - Система инвентарного учета
            </div>
        </nav>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
