@{
    string userRole = "Пользователь";
    string adminRole = "Администратор";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <title>@ViewData["Title"]</title>
</head>
<body class="container-fluid flex-row">
    <header>
        <div class="sidenav">
            <a asp-controller="Items" asp-action="Index">На главную</a>
            <a asp-controller="Settings" asp-action="Index">Настройки</a>
            <require-roles roles="new List<string> { adminRole }">
                <a asp-controller="Administration" asp-action="AdminPanel">Панель администратора</a>
            </require-roles>
        </div>
    </header>
    <div class="main" style="overflow: hidden;">
        <main role="main" class="pb-3 row">
            <require-roles roles="new List<string> { userRole, adminRole}">
                @RenderBody()
            </require-roles>
        </main>
        <footer class="footer text-muted row">
            <nav role="navigation" class="navbar fixed-bottom border-top">
                <div class="justify-content-around container" style="background-color: white">
                    Кумачев Антон - Система инвентарного учета
                </div>
            </nav>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
