@model Inventory_database.Models.Room

<div class="card card-body ml-lg-3 mr-lg-3 mb-4">
    <h4 class="card-header">@Model.Name</h4>
    <ul>
        <li class="text-black-50 text-left">Описание - @Model.Description</li>
        <li class="text-black-50 text-left">Закреплено предметов инвентаря - @Model.Items.Count</li>
    </ul>
    <div class="navbar justify-content-end">
        <a class="btn btn-link w-auto m-1" asp-action="EditRoom" asp-route-roomId="@Model.Id">Изменить</a>
        <a class="btn btn-danger w-auto m-1" href="#">Удалить</a>
    </div>
</div>