@using Inventory_database.Models

@model IEnumerable<StorageItem>

@{
    ViewData["Title"] = "Index";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Type.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(_ => item.Id)
            </td>
            <td>
                @Html.DisplayFor(_ => item.Type.Name)
            </td>
        </tr>
        }
    </tbody>
</table>